# See http://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
logs
*.log
npm-debug.log
pids
*.pid
*.seed
*.pyc
lib-cov
coverage
build/Release
node_modules
.lock-wscript
.idea
.vagrant
.anaconda
.env
